:root{
    --bg-color: #ffffff;
    --color-text: #1869AB;
    --color-btn: #19AF8C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'minha-fonte';
    src: url('fonts/PlaypenSans-Regular.ttf') format('woff2');
}


body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'minha-fonte', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vw;
    width: 90vw;
    z-index: 10;
    margin: 0;
}

.titulo{
    display: flex;
    text-align: center;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.titulo h1{
    position: fixed;
    display: block;
    top: 0;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 20vw;
    width: 100%;
    background-color: var(--color-text);
    color: var(--bg-color);
    z-index: 2;
    border-radius: 0 0 4vw 4vw;
}

#saudacao{
    text-transform: capitalize;
    margin: 0;
    font-size: 2vw;
}


#map_img{
    display: none;
}

#btn_enviar{
    background-color: var(--color-btn);
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 1vw;
    border-radius: 0.5vw;
    width: 15vw;
    font-size: 1vw;
}

#map{
    height: 25vw;
    width: 50vw;
    z-index: 50;
    border-radius: 0.5vw;
    top: 5vw;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
}


/* --------------------------------------------------------- */

/* MODAL */

.modal{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    align-items: center;
}    

.modal h1{
    color: var(--color-text);
    z-index: 999999;
    position: absolute;
    font-size: 4vw;
    top: 4vw;
}

.imagem{
    text-align: center;
    position: absolute;
    top: 12vw;
    background-color: #1869AB;
    border-radius: 4vw 4vw 0 0;
    height: 100vh;
    width: 100vw;
}

#globo-img{
    position: absolute;
    top: -5vw;
    left: 20%;
    transform: translateX(-50%);
    width: 30vw;

}

#custom-button{
    background-color: #184bab;
    color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 0.9vw;
    margin-top: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
}

#photo{
    text-align: center;
}

#start-btn {
    background-color: var(--color-btn);
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0.5vw;
    border-radius: 0.5vw;
    width: 20vw;
    margin-top: 1vw;
    font-size: 1vw;
}

.form input{
    width: 20vw;
    font-size: 1vw;
    padding: 0.5vw;
    outline: none;
    color: #3498db;
    border-radius: 0.5vw;
    font-weight: bold;
    border: none;
    text-transform: capitalize;
}

.form{
    display: flex;
    top: 7vw;
    position: relative;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    z-index: 20000000000;
}

.form label{
    text-align: left;
    color: var(--bg-color);
    font-size: 1vw;
    margin-bottom: 0.5vw;
}


.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none;
    animation: spin 1s linear infinite;
    z-index: 10000000000000000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* ------------------------------------------- */

@media (max-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: var(--bg-color);
        height: 100vh;
        font-family: 'minha-fonte', sans-serif;
    }

    .modal{
        display: flex;
        height: 100vh;
        width: 100vw;
        position: absolute;
        justify-content: center;
        align-items: center;
    }    
    
    .modal h1{
        color: var(--color-text);
        z-index: 999999;
        position: absolute;
        font-size: 10vw;
        top: 10vw;
    }

    .imagem{
        text-align: center;
        position: absolute;
        top: 50vw;
        background-color: #1869AB;
        border-radius: 4vw 4vw 0 0;
        height: 100vh;
        width: 100vw;
    }
    
    #globo-img{
        position: absolute;
        top: -10vw;
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
    }

    #custom-button{
        background-color: var(--color-btn);
        color: #ffffff;
        cursor: pointer;
        border: none;
        text-align: center;
        font-size: 5vw;
        border-radius: 0.5vw;
        padding: 1vw;
        margin-top: 2vw;
    }


    #start-btn{
        padding: 2vw;
        border-radius: 1vw;
        width: 70vw;
        margin-top: 2vw;
        font-size: 5vw;
    }
    
    .form input{
        width: 70vw;
        font-size: 4vw;
        padding: 1.5vw;
        outline: none;
        border-radius: 1vw;
    }
    
    .form{
        top: 30vw;
        position: relative;
        flex-direction: column;
        justify-content: center;
        gap: 2vw;
    }
    
    .form label{
        text-align: left;
        color: var(--bg-color);
        font-size: 4vw;
    }

    .titulo{
        display: flex;
        text-align: center;
        width: 100vw;
        flex-direction: column;
    }

    .titulo h1{
        display: block;
        top: 0;
        text-align: center;
        padding-bottom: 70vw;
        width: 100%;
        background-color: var(--color-text);
        color: var(--bg-color);
        z-index: 2;
        border-radius: 0 0 4vw 4vw;
    }

    #saudacao{
        text-transform: capitalize;
        margin: 0;
        font-size: 9vw;
    }

    .container {
        display: none;
        margin-top: 25vw;
        flex-direction: column;
        align-items: center;
        gap: 15vw;
    }

    #map_img{
        display: flex;
        position: fixed;
        top: 20vw;
        width: 90vw;
        z-index: 10;
    }

    #map-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 80vw;
        gap: 30vw;
        width: 90vw;
        z-index: 10;
        margin: 0;
    }
    
    #map {
        height: 90vh;
        width: 90vw;
        position: relative;
        border-radius: 3vw;
        box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
    }
    
    #btn_enviar{
        background-color: var(--color-btn);
        color: #ffffff;
        position: relative;
        cursor: pointer;
        border: none;
        padding: 2vw;
        border-radius: 1vw;
        width: 70vw;
        font-size: 5vw;
    }

}