* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(34, 44, 48);
    height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3vw;
}

img{
    width: 5vw;
}

.container button {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 1vw;
    border-radius: 0.5vw;
    width: 20vw;
    font-size: 1vw;
}

#map-container {
    width: 50vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
}

#map-container {
    width: 50vw;
}

#map {
    border-radius: 0.5vw;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#map {
    height: 25vw;
    position: relative;
}

#map-container {
    position: relative;
    height: 23vw;
}


.modal{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 44, 48);
}


.form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.form button{
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 1vw;
    border-radius: 0.5vw;
    width: 20vw;
    font-size: 1vw;
}

.form input{
    font-size: 1vw;
    padding: 0.5vw;
    outline: none;
    color: #3498db;
    font-weight: bold;
    text-transform: capitalize;
}



/* ------------------------------------------- */

@media (max-width: 768px) {


        .container button {
            width: 90vw;
            padding: 3vw 0vw;
            font-size: 5vw;
        }

        .container {
            gap: 6vw;
            padding: 7vw;
            justify-content: space-around;
        }

        img{
            width: 30vw;
        }

        #map-container {
            width: 90vw;

        }


        .container {
            justify-content: space-around;
        }


        #map-container {
            width: 90vw;
            height: 50vh;
        }

        #map {
            height: 50vh;
        }

}