:root {
    --primary-color: #1869ab;
    --text-color: #fff;
    --font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

/* HEADER / INPUT */
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 0 0 4vw 4vw;
    z-index: 10;
    padding: 1.5rem;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 0 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#status {
    font-weight: 700;
    font-size: 1.05rem;
    text-align: left;
    width: 100%;
    color: var(--primary-color);
}

.destino-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.destino-box input {
    border: solid 2px var(--primary-color);
    outline: none;
    border-radius: 0.4rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

.destino-box button {
    width: 20%;
    background-color: var(--primary-color);
    padding: 0.7rem;
    color: var(--text-color);
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

.autocomplete-items {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 85%;
    margin-top: 10vh;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
    border-radius: 0.4rem;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.autocomplete-items div:hover {
    background: #f0f0f0;
}


/* MAPA */
.mapa {
    z-index: 100;
    height: 80vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map-container {
    width: 90%;
    margin: 6vw 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

#map-rotating {
    width: 200%;
    height: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: center center;
    transition: transform 0.25s linear;
}

#map {
    width: 100%;
    height: 100%;
}

.btn_container {
    height: 20vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#exit-btn {
    width: 20%;
    background-color: var(--primary-color);
    padding: 0.7rem;
    color: var(--text-color);
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    #exit-btn {
        width: 100%;
    }
}